*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Open Sans";
}

html,body{
	height: 100%;
}
/* classe padrao para limpar float */
.clear{
	clear: both;
}
/* classe Container padrao para centralizar conteudo */
.container{
	max-width: 1280px;
	margin: 0 auto;
	padding: 0 2%;
}
/* header */
header{
	font-weight: 300;
	width: 100%;
	padding: 40px 2%;
	min-height: 800px;
	height: 90vh;/*90% do tamanho da tela.*/
	background-size: cover;
	background-position: center;
	background-image: url('../imagens/capa.png');
	font-weight: 300;
}

header .logo{
	display: block;
	position: relative;
	top:-40px;
	float: left;
	width: 120px;
	height: 120px;
	background-image: url('../imagens/logo.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

header nav{
	float: right;
}

header nav.desktop-menu ul{
	list-style-type: none;
}
header nav.desktop-menu li{
	float: left;
	padding: 0 20px;
}
header nav.desktop-menu ul li a{
	color: white;	
	font-size: 22px;
	text-decoration: none;
}

.sidenavBtn{
	cursor: pointer;
	width: 32px;
	height: 32px;
	background-image: url("../imagens/menu.png");
	background-size: 100% 100%;
	display: none;
	position: absolute;
	top:45px;
	right: 20px;
}

.sidenav{
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}

.sidenav ul{
	list-style-type: none;
}

.sidenav a{
	padding: 8px 8px 2px 32px;
	text-decoration: none;
	font-size: 25px;
	color: purple;
	display: block;
	transition: 0.3s;
}

.sidenav a:hover{
	color: #fff;
}

.closeBtn{
	position: absolute;
	top: 25px;
	right: 25px;
}

.chamada1{
	max-width: 600px;
	float: right;
	margin:25vh 100px;
}

.chamada1 h2{
	font-weight: 300;
	font-size: 40px;
	color: white;
}

.chamada1 p{
	font-size: 15px;
	color: white;
	margin-top: 10px;
}


section.sessao1{
	width: 100%;
	background-color: #472562;
	padding: 0 2%;
	height: 400px;
}
section.sessao1 .container{
	max-width: 1000px;
	height: calc(100% + 30px);
}
.texto-sessao1{
	position: relative;
	left: 55px;
	width: 50%;
	margin-top: 60px;
	float: left;
	color: white;	
}
.btn-sessao1{
	width: 180px;
	height: 44px;
	line-height: 44px;
	cursor: pointer;
	text-align: center;
	color: white;
	background-color: #FF703D;
	border-radius: 20px;
	margin-top: 10px;
}
.texto-sessao1 h2{
	font-size: 30px;
	font-weight: 300;
}
.btn-sessao1:hover{
	background-color: rgba(255, 112, 61, 0.8);
}
.texto-sessao1 p{
	font-size: 17px;
	margin-top: 20px;
}
.texto-sessao1 ul{
	font-size: 17px;
	list-style-position: inside;
	padding-top: 15px;
	padding-bottom: 15px;
}
.texto-sessao1 ul li{
	font-weight: 300;
	margin-top: 10px;
}
.texto-sessao1 ul li:first-child{
	margin-top: 0;
}
.device-sessao1{
	position: relative;
	top: -30px;
	float: left;
	width: 50%;
	height: 100%;
	background-image: url('../imagens/device.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.sessao2 .container{
	max-width: 1000px;
}
.sessao2{
	padding-top: 40px;
	padding-left: 2%;
	padding-right: 2%;
	background-color: white;
	text-align: center;
}
.sessao2 h2{
	color: #472663;
	font-weight: 300;
}
.sessao2 p{
	margin-top: 30px;
	display: inline-block;
	max-width: 900px;
}

.sessao2 img{
	position: relative;
	top: 80px;
	width: 100%;
}
		/*sessao3*/
.sessao3{
	width: 100%;
}
.part1{
	float: left;
	width: 50%;
	padding:140px 0 90px 0;
	background-color: #835FA7;
	color: white;
}
.wraper-part1{
	max-width: 600px;
	float: right;
	padding: 0 30px;
}
.part1 h2{
	font-weight: 300;
	font-style: italic;
	font-size: 23px;
}
.part1 p{
	font-size: 15px;
	line-height: 35px;
	margin-top: 10px;
}
.part2{
	float: left;
	width: 50%;
	padding: 140px 0 90px 0;
	background-color: white;
}
.sobre-autor{
	padding: 10px 30px;
	float: left;
	width: 100%;
}
.scrollEquipe{
	max-width: 600px;
	padding-left: 30px;
	overflow: hidden;
}
.scroll-wraper{
	width: 100%;
}
.titulo-autor{
	float: left;
	width: 100%;
}
.wraper-titulo-autor{
	float: left;
}
.titulo-autor h2{
	padding-right: 20px;
	color: #232323;
	font-weight: 400;
	font-size: 25px;
}
.titulo-autor p{
	font-size: 15px;
	font-style: italic;
	color: #232323;
	font-weight: 300;
}
.titulo-autor .img-autor{
	position: relative;
	top: -4px;
	float: left;
	width: 40px;
	height: 40px;
	border-radius: 20px; 
	background-image: url('../imagens/foto.jpg');
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
}
.texto-autor{
	float: left;
	width: 100%;
	margin-top: 10px;
}
.texto-autor p{
	color: #232323;
	font-size: 15px;
}
div.slider-bullets{
	width: 100%;
	margin-top: 12px;	
	padding-left: 60px;
}
.slider-bullets span{
	display: block;
	cursor: pointer;
	width: 16px;
	height: 16px;
	background-color: rgb(200,200,200);
	border-radius: 8px;
	float: left;
	margin-right: 8px;
}
/* sessao4 */
section.sessao4{
	background-color: #472563;
	padding: 100px 0;
}
.form{
	width: 50%;
	float: left;
	color: white;
}
.form h2{
	font-size: 30px;
	font-weight: 300;
}
.form p{
	margin-top: 10px;
	font-size: 13px;
	font-weight: 300;
	max-width: 400px;
	margin-bottom: 10px;
}
.form form input[type="text"]{
	width: 100%;
	max-width: 480px;
	height: 50px;
	padding-left: 8px;
	line-height: 50px;
	border:1px solid rgb(200,200,200);
	margin-top: 5px;
}
.form form input[type="text"]:focus{
	outline: 0;
}
.form form textarea{
	height: 280px;
	margin-top: 5px;
	width: 100%;
	max-width: 480px;
	resize: none;
	padding-left: 8px;
}
.form form textarea{
	outline: 0;
}
.form form input[type="submit"]{
	width: 100%;
	margin-top: 10px;
	max-width: 180px;
	height: 50px;
	text-align: center;
	border-radius: 25px;
	color: white;
	background-color: #FF703D;
	cursor: pointer;
	border:none;
	font-size: 17px;
}
.map-wraper{
	float: left;
	width: 50%;
	color: white;
	padding:30px 2% 0 2%;
}
.map-wraper h2{
	font-size: 30px;
	font-weight: 300;
}
.map{
	margin-top: 50px;
	width: 100%;
	max-width: 480px;
	padding-top: 40%;
	padding-bottom: 40%;
	background-color: white;
	border:5px solid #ccc;
}
	/* footer */
footer{
	font-family: 'Roboto Mono', monospace;
	padding: 40px 2% 1px 2%;
	background-color: #192123;
	color: white;
	font-size: 14px;
	font-weight: 300;
	text-align: center;
}
footer img{
	position: relative;
	top: -40px;
	display: inline-block;
	height: 100px;
	width: 100px;
}
footer p:nth-of-type(1){
	float: left;
}
footer p:nth-of-type(2){
	float: right;
}

	/*Web design responsivo*/

	/*         990px       */
@media screen and (max-width: 990px){
	section.sessao1{
		padding: 0 1%;
	}
	.texto-sessao1{
		width: 40%;
	}
	.device-sessao1{
		width: 60%;
	}
}		

	/*         768px       */
@media screen and (max-width: 768px){

	header{
		width: 100%;
		padding: 40px 2%;
		height: auto;
		min-height: 90vh;/*90% do tamanho da tela.*/
	}


	nav.desktop-menu{
		display: none;
	}

	.sidenavBtn{
		display: block;
	}

	.chamada1{
		max-width: none;
		width: 100%;
		text-align: center;
		float: none;
		margin:90px 0;
	}
	.chamada1 h2{
		padding: 0 10px;
		font-weight: 300;
		font-size: 35px;
		color: white;
	}
	.chamada1 p{
		font-size: 15px;
		color: white;
		margin-top: 20px;
	}

	section.sessao1{
		padding: 40px 2%;
		height: auto;
		text-align: center;
	}
	.texto-sessao1{
		position: static;
		margin:0;
		float: none;
		width: 100%;
		display: inline-block;	
	}
	.btn-sessao1{
		width: 180px;
		margin-top: 10px;
		display: inline-block;
	}
	.texto-sessao1 ul{
		padding-top: 20px;
		padding-bottom: 20px;
		display: inline-block;
		text-align: left;
	}
	.device-sessao1{
		position: static;
		float: none;
		display: none;
	}
	.sessao2{
		padding-top: 40px;
	}
	.form{
		text-align: center;
		width: 100%;
		float: none;
	}
	.form h2{
		font-size: 25px;
	}
	.form p{
		display: inline-block;
		text-align: justify;
	}
	.form form textarea{
		display: inline-block;
		width: 100%;
	}
	.form form input[type="submit"]{
		display: inline-block;
		width: 100%;
		max-width: 240px;
	}
	.map-wraper{
		float: none;
		width: 100%;
		padding:30px 2% 0 2%;
	}
	.map-wraper h2{
		margin-top: 30px;
		font-size: 30px;
		text-align: center;
		margin-bottom:30px;
	}
	.map{
		width: 100%;
		max-width: 480px;
		padding-top: 35%;
		padding-bottom: 35%;
		margin: 0 auto;
	}
	/* footer */
	footer{
		font-family: 'Roboto Mono', monospace;
		text-align: center;
		padding: 40px 2% 20px 2%;
	}
	footer p:nth-of-type(1){
		position: relative;
		top: -30px;
		float: none;
	}
	footer p:nth-of-type(2){
		float: none;
		position: relative;
		top: -20px;
	}
}


@media screen and (max-width: 665px){
	.titulo-autor .img-autor{
		
		position: relative;
		top: 2px;
		float: left;
		width: 40px;
		height: 40px;
		background-color: gray;
		border-radius: 20px; 
	}
}


	/*         580px       */
@media screen and (max-width: 580px){
	/* sessao2 */
	.sessao2{
		padding:40px 4% 0 4%;
	}
	.sessao2 p{
		text-align: justify;
	}
	/* sessao3 part1*/
	.part1{
		text-align: center;
		width: 100%;
		float: none;
		padding:90px 0 40px 0;
	}
	.wraper-part1{
		max-width: 600px;
		float: none;
		padding:0 4%;
	}
	.part1 h2{
		display: inline-block;
	}
	.part1 p{
		text-align: justify;
		font-size: 15px;
		line-height: 30px;
		margin-top: 10px;
	}
	/* sessao3 part2 */
	.part2{
		width: 100%;
		float: none;
		padding: 40px 0 60px 0;
	}
	.sobre-autor{
		padding-left: 4%;
	}
	.wraper-titulo-autor p{
		font-size: 13px;
	}
	.texto-autor{
		text-align: justify;
		float: left;
		width: 100%;
		margin-top: 10px;	
		padding-right: 4%;
	}
	.texto-autor p{
		font-size: 14px;
	}
}